
config natter
	option enabled '0'
	option log_level 'info'
	option keepalive_server 'www.baidu.com'
	list tcp_stun 'stun.nextcloud.com'
	list tcp_stun 'fwa.lifesizecloud.com'
	list tcp_stun 'stun.isp.net.au'
	list tcp_stun 'stun.freeswitch.org'
	list tcp_stun 'stun.voip.blackberry.com'
	list tcp_stun 'stun.stunprotocol.org'
	list tcp_stun 'stun.sipnet.com'
	list tcp_stun 'stun.radiojar.com'
	list tcp_stun 'stun.sonetel.com'
	list tcp_stun 'stun.voipgate.com'
	list udp_stun 'stun.miwifi.com'
	list udp_stun 'stun.qq.com'

config portrule
	option comment 'MC Server'
	option action 'forward'
	option mode 'dnat'
	option bind_port '25565'
	option server_ip '192.168.1.123'
	option server_port '25565'
	option proto 'tcp'
	option enabled '1'

config portrule
	option comment 'Dynmap'
	option action 'forward'
	option mode 'dnat'
	list bind_ifname 'eth1'
	option bind_port '8123'
	option server_ip '192.168.1.123'
	option server_port '8123'
	option proto 'tcp'
	option enabled '1'

config portrule
	option comment 'ttyd'
	option action 'forward'
	option mode 'dnat'
	list bind_ifname 'eth1'
	option bind_port '7681'
	option server_ip '127.0.0.1'
	option server_port '7681'
	option proto 'tcp'
	option enabled '0'

config portrule
	option comment 'librespeed-go'
	option action 'forward'
	option mode 'dnat'
	list bind_ifname 'eth1'
	option bind_port '18989'
	option server_ip '127.0.0.1'
	option server_port '8989'
	option proto 'tcp'
	option enabled '1'

config portrule
	option comment 'SmartDNS'
	option action 'forward'
	option mode 'dnat'
	option bind_port '60533'
	option server_ip '127.0.0.1'
	option server_port '6053'
	option proto 'both'
	option enabled '0'

config portrule
	option comment 'DNSmasq need trun off "Local service only"'
	option action 'forward'
	option mode 'dnat'
	option bind_port '5333'
	option server_ip '0.0.0.0'
	option server_port '53'
	option proto 'both'
	option enabled '0'

