
config notify
	option enabled '0'
	option comment 'Telegram_message_example'
	option script 'telegram.sh'
	list tokens 'TOKEN=<bot_token>'
	list tokens 'CHAT_ID=<uid>'

config notify
	option enabled '0'
	option comment 'PushBullet_message_example'
	option script 'pushbullet.sh'
	list tokens 'TOKEN=<account_token>'
	list tokens 'TITLE=<optional_title>'

config ddns
	option enabled '0'
	option comment 'Cloudflare_Minecraft_example'
	option script 'cloudflare.sh'
	list tokens 'TOKEN=<api_token>'
	list tokens 'ZONE_ID=<zone_id>'
	option bind_port '25565'
	option proto 'tcp'
	option fqdn 'mc.example.com'
	option a_record '1'
	option srv_record '1'
	option srv_service 'minecraft'
	option srv_proto 'tcp'


